body {
    background-color: gray;
    background-image: url("./Assets/soccerfield.jpg");
    background-position-y: center;
}

h1 {
    text-align: center;
    font-size: 100px;
}

.soccertriviapanel {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.questions {
    font-size: 40px;
    margin-bottom: 40px;
}

.answers {
    font-size: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    position: fixed;
    top: 375px;
    left: 775px;
}

button {
    margin-right: 20px;
    margin-top: 200px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


#score {
    font-size: 40px;
    color: orangered;
} 

.answer-box {
    border: 5px solid black;
    padding: 10px;
}